.grid {
    display: grid;

    &-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    &-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}


@media screen and (min-width: 640px) {
    .sm\:grid {
        &-cols-1 {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    
        &-cols-2 {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}

@media screen and (min-width: 768px) {
    .md\:grid {
        &-cols-1 {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }

        &-cols-2 {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}

// @media screen and (min-width: 1024px) {
//     .lg\:grid {
//         &-cols-1 {
//             grid-template-columns: repeat(1, minmax(0, 1fr));
//         }

//         &-cols-2 {
//             grid-template-columns: repeat(2, minmax(0, 1fr));
//         }
//     }
// }

// @media screen and (min-width: 1280px) {
//     .xl\:grid {
//         &-cols-1 {
//             grid-template-columns: repeat(1, minmax(0, 1fr));
//         }

//         &-cols-2 {
//             grid-template-columns: repeat(2, minmax(0, 1fr));
//         }
//     }
// }

// @media screen and (min-width: 1536px) {
//     .xxl\:grid {
//         &-cols-1 {
//             grid-template-columns: repeat(1, minmax(0, 1fr));
//         }

//         &-cols-2 {
//             grid-template-columns: repeat(2, minmax(0, 1fr));
//         }
//     }
// }