.flex {
    display: flex;

    &-row {
        flex-direction: row;
    }

    &-col {
        flex-direction: column;
    }
    &-auto{
        flex: 1 1 auto;
    }
    &-wrap{
        flex-wrap: wrap;
    }
}

.justify{
    &-between {
        justify-content: space-between;
    }
    &-center{
        justify-content: center;
    }
}

.items-center{
    align-items: center;
}

