/**
 * Fonts
*/

// @font-face {
//   font-family: 'DINP-R';
//   src: url("../fonts/DINPro-Regular.eot?") format("eot"),
//   url("../fonts/DINPro-Regular.woff") format("woff"),
//   url("../fonts/DINPro-Regular.ttf") format("truetype");
//   font-style: normal;
// }


@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font{
  &-extralight{
    font-weight: 200;
  }
  &-semibold {
    font-weight: 600;
  }
}

// .text{
//   &-uppercase{
//     text-transform: uppercase;
//   }
// }

.sub__heading{
  font-size: clamp(1rem, 5vw, 1.875rem);
}
.heading {
  font-size: clamp(2.4rem, 10vw, 8rem);
}