
.gap {
    &-1 {
        gap: var(--1)
    }

    &-2 {
        gap: var(--2)
    }

    &-3 {
        gap: var(--3)
    }

    &-4 {
        gap: var(--4)
    }
    &-8 {
        gap: var(--8)
    }
    &-12 {
        gap: var(--12)
    }
    &-x{
        &-8{
            column-gap: var(--8);
        }
    }
    &-y {
        &-4 {
                row-gap: var(--4);
            }
    }

}

.p{
    &-1 {
        padding: var(--1);
    }

    &-2 {
        padding: var(--2);
    }

    &-3 {
        padding: var(--3);
    }

    &-4 {
        padding: var(--4);
    }
    &-8{
        padding: var(--8)
    }
   
    &y{
        &-2{
            padding-block: var(--2);
        }
        &-16 {
            padding-block: var(--16);
        }
    }
    &x {
        &-8 {
            padding-inline: var(--8)
        }
        &-4{
            padding-inline: var(--4);
        }
    }
    
}

.m{
    &-auto{
        margin: auto;
    }

}


@media screen and (min-width: 640px) {

    .sm\: {
        &p{
            &-1 {
                padding: var(--1);
            }

            &-2 {
                padding: var(--2);
            }

            &-3 {
                padding: var(--3);
            }

            &-4 {
                padding: var(--4);
            }
            &t {
                &-40 {
                    padding-top: 10rem;
                }
            }
            
        }
    }

}

@media screen and (min-width: 768px) {

    .md\:{
        &p{
            &t {
                &-80 {
                    padding-top: 20rem;
                }
            }
        }
        
    }
}


@media screen and (min-width: 1024px) {

    .lg\: {
            &p {
                &t {
                    &-120 {
                        padding-top: 30rem;
                    }
                }
            }
    
        }
}

@media screen and (min-width: 1280px) {

    .xl\:intro {
        font-size: 13rem;
    }

    .intro {
        font-size: 12rem;
    }

}

@media screen and (min-width: 1536px) {

    .intro {
        font-size: 14rem;
    }
}