/* By Athlon Front-End Team */

/* Core variables */
// @use 'base/vars';

// /* CSS Reset */
// @use 'base/reset';

// /* CSS print */
// // @use 'base/print';

// /* Fonts */
// @use 'component/fonts';

// /* Mixins, helpers and functions */
// @use 'base/mixins';

// /* Vendor */

// /* Layout */
// @use 'layout/layout';

// /* Components */
// @use 'component/flexbox';
// @use 'component/grid';
// @use 'component/spacings';
// @use 'component/container';
// @use 'component/parallax';

// /* Browser specific styles */
// @use 'dirty/hacks';

// /* Demo Page styles */
// @use 'demo';

// @use 'components/fonts' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


body{
    font-family: "Inter", sans-serif;
}


@layer utilities{
    
    
        .intro {
            &__title {
                font-size: clamp(2rem, 12vw, 15rem);
            }
        }
}

@layer components{

    .wrapper{
        @apply w-full sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl;
    }
}


