body {
  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 100 to 900


  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; 


}




.bg {
  &-black {
    background-color: var(--black);
  }

  &-white {
    background-color: var(--white);
  }
}

.text {
  &-black {
    color: var(--black);
  }

  &-white {
    color: var(--white);
  }
}

.border{
  // &-1{
  //   border-width: 1px;
  // }
  border-style: solid;
  
  &-b{
    border-width: 0 0 1px 0;
  }
  &-white{
    border-color: var(--white);
  }
}

.block{
  display: block;
  
}

.hidden {
  display: none;
}


@media screen and (min-width:640px) {
  .sm\:hidden {
      display: none;
    }
  .sm\:block {
    display: block;
  }
    
}
@media screen and (min-width:768px) {
  .md\:hidden {
    display: none;
  }

  .md\:block {
    display: block;
  }

}




.w{
  &-full{
    width: 100%;
  }
}

.rounded{
  &-full{
    border-radius: 100rem;
  }
}




.intro {
  &__title{
    font-size: clamp(2rem, 12vw, 15rem);
  }
  &__subtitle {
    font-size: clamp(1.25rem, 6vw, 5rem)
  }
  &__line{
    width: 50px;
    height: 2px;
    background-color: var(--white);
      @media screen and (min-width:640px) {
        width: 100px;
      }    
  }
  &__para{
    font-size: clamp(1rem, 3vw, 2.5rem);
  }

}
